{% extends 'base.html.twig' %}

{% block includes %}
	<script src="/js/cropper.js"></script>
	<link rel="stylesheet" href="/css/cropper.css">
	<script src="/js/claim_card.js" crossorigin="anonymous"></script>
	<!--<script src="/js/chosen.jquery.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/chosen.min.css" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/task2card.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/inquirer.css">
{% endblock %}

{% block content %}
<style type="text/css">
	#editor{
		width: 100%;
		float: none;
		margin-left: 0; 
	}

	#label_header{
		cursor: pointer;
	}

	.img-container img {
	  max-width: 100%;
	}

	.preloader {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1001;
      background: url("/img/loading.gif") hsla(218, 4%, 39%, .5) no-repeat;
      background-position: center center;
    }
</style>
{% if claim %}

<!--  Cropper modal --> 
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Выберите размер</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <img id="image_load" src="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-primary" id="load_btn">Загрузить</button>
          </div>
        </div>
      </div>
    </div>
<!--  End Cropper modal  -->

<div class="preloader"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-6 p-0">
			<div class="crd" id="specification">
				<ul>
				{% for key,item in claim.fields %}
					{% if key == 'type' %}
						<li><b>Тип проекта:</b> {{ item }}</li>
					{% elseif key == "projectCommerce" %}
						<li><b>Проект:</b> {{ item }}</li>
					{% elseif key == "projectIndustry" %}
						<li><b>Отрасль: </b> {{ item }}</li>
					{% elseif key != "eventID" and key != "date_create" %}
				    <li><b>{{key}}</b>  {{ item }}</li>
				    {% endif %}
				{% endfor %}
				</ul>
				{% if claim.attachment != false %}
					{% for file in claim.attachment %}
				    	<b>Прикрепленный файл: </b> <a target="_blank" rel="noopener noreferrer" href="/claim/attachment/{{ file }}">Файл</a><br>
					{% endfor %}
				{% endif %}
			</div>
			
		</div>
		<div class="col-xl-6 p-0">
			<div class="crd" id="editor">

				<input style="font-size: 30px; width: calc(100% + 16px); text-align: center; margin-left: -8px;" id="project_name" class="forminput" placeholder="Название проекта">


				<div class="projTypeSelects flex__mobile">

					<select id="projType" class="forminput">
						<option selected>Коммерческий</option>
						<option>Некоммерческий</option>
					</select>

					<select id="industry" class="forminput" value="$category">
						<option value="" disabled selected>Отрасль</option>
						<option>Математика</option>
						<option>Прикладная математика и информатика</option>
						<option>Механика и математическое моделирование</option>
						<option>Прикладная математика</option>
						<option>Статистика</option>
						<option disabled>КОМПЬЮТЕРНЫЕ И ИНФОРМАЦИОННЫЕ НАУКИ</option>
						<option>Математика и компьютерные науки</option>
						<option>Фундаментальная информатика и информационные технологии</option>
						<option>Математическое обеспечение и администрирование информационных систем</option>
						<option disabled>ФИЗИКА И АСТРОНОМИЯ</option>
						<option>Прикладные математика и физика</option>
						<option>Физика</option>
						<option>Радиофизика</option>
						<option disabled>ХИМИЯ</option>
						<option>Химия</option>
						<option>Химия, физика и механика материалов</option>
						<option disabled>НАУКИ О ЗЕМЛЕ</option>
						<option>Геология</option>
						<option>География</option>
						<option>Картография и геоинформатика</option>
						<option>Гидрометеорология</option>
						<option>Прикладная гидрометеорология</option>
						<option>Экология и природопользование</option>
						<option>БИОЛОГИЧЕСКИЕ НАУКИ</option>
						<option>Биология</option>
						<option>Почвоведение</option>
						<option disabled>АРХИТЕКТУРА</option>
						<option>Архитектура</option>
						<option>Реконструкция и реставрация архитектурного наследия</option>
						<option>Дизайн архитектурной среды</option>
						<option>Градостроительство</option>
						<option disabled>ТЕХНИКА И ТЕХНОЛОГИИ СТРОИТЕЛЬСТВА</option>
						<option>Строительство</option>
						<option>ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА</option>
						<option>Информатика и вычислительная техника</option>
						<option>Информационные системы и технологии</option>
						<option>Прикладная информатика</option>
						<option>Программная инженерия</option>
						<option disabled>ИНФОРМАЦИОННАЯ БЕЗОПАСНОСТЬ</option>
						<option>ЭЛЕКТРОНИКА, РАДИОТЕХНИКА И СИСТЕМЫ СВЯЗИ</option>
						<option>Радиотехника</option>
						<option>Инфокоммуникационные технологии и системы связи</option>
						<option>Конструирование и технология электронных средств</option>
						<option>Электроника и наноэлектроника</option>
						<option disabled>ФОТОНИКА, ПРИБОРОСТРОЕНИЕ, ОПТИЧЕСКИЕ И БИОТЕХНИЧЕСКИЕ СИСТЕМЫ И ТЕХНОЛОГИИ</option>
						<option>Приборостроение</option>
						<option>Оптотехника</option>
						<option>Фотоника и оптоинформатика</option>
						<option>Биотехнические системы и технологии</option>
						<option>Лазерная техника и лазерные технологии</option>
						<option disabled>ЭЛЕКТРО - И ТЕПЛОЭНЕРГЕТИКА</option>
						<option>Теплоэнергетика и теплотехника</option>
						<option>Электроэнергетика и электротехника</option>
						<option>Энергетическое машиностроение</option>
						<option disabled>ЯДЕРНАЯ ЭНЕРГЕТИКА И ТЕХНОЛОГИИ</option>
						<option>Ядерная энергетика и теплофизика</option>
						<option>Ядерные физика и технологии</option>
						<option disabled>МАШИНОСТРОЕНИЕ</option>
						<option>Машиностроение</option>
						<option>Технологические машины и оборудование</option>
						<option>Прикладная механика</option>
						<option>Автоматизация технологических процессов и производств</option>
						<option>Конструкторско-технологическое обеспечение машиностроительных производств</option>
						<option>Мехатроника и робототехника</option>
						<option disabled>ФИЗИКО-ТЕХНИЧЕСКИЕ НАУКИ И ТЕХНОЛОГИИ</option>
						<option>Техническая физика</option>
						<option>Высокотехнологические плазменные и энергетические установки</option>
						<option>Холодильная, криогенная техника и системы жизнеобеспечения</option>
						<option disabled>ОРУЖИЕ И СИСТЕМЫ ВООРУЖЕНИЯ</option>
						<option>Корабельное вооружение</option>
						<option>ХИМИЧЕСКИЕ ТЕХНОЛОГИИ</option>
						<option>Химическая технология</option>
						<option>Энерго- и ресурсосберегающие процессы в химической технологии, нефтехимии и биотехнологии</option>
						<option disabled>ПРОМЫШЛЕННАЯ ЭКОЛОГИЯ И БИОТЕХНОЛОГИИ</option>
						<option>Биотехнология</option>
						<option>Продукты питания из растительного сырья</option>
						<option>Продукты питания животного происхождения</option>
						<option>Технология продукции и организация общественного питания</option>
						<option disabled>ТЕХНОСФЕРНАЯ БЕЗОПАСНОСТЬ И ПРИРОДООБУСТРОЙСТВО</option>
						<option>Техносферная безопасность</option>
						<option>Природообустройство и водопользование</option>
						<option disabled>ПРИКЛАДНАЯ ГЕОЛОГИЯ, ГОРНОЕ ДЕЛО, НЕФТЕГАЗОВОЕ ДЕЛО И ГЕОДЕЗИЯ</option>
						<option>Нефтегазовое дело</option>
						<option>Землеустройство и кадастры</option>
						<option>Геодезия и дистанционное зондирование</option>
						<option disabled>ТЕХНОЛОГИИ МАТЕРИАЛОВ</option>
						<option>Материаловедение и технологии материалов</option>
						<option>Металлургия</option>
						<option disabled>ТЕХНИКА И ТЕХНОЛОГИИ НАЗЕМНОГО ТРАНСПОРТА</option>
						<option>Технология транспортных процессов</option>
						<option>Наземные транспортно-технологические комплексы</option>
						<option>Эксплуатация транспортно-технологических машин и комплексов</option>
						<option disabled>АВИАЦИОННАЯ И РАКЕТНО-КОСМИЧЕСКАЯ ТЕХНИКА</option>
						<option>Ракетные комплексы и космонавтика</option>
						<option>Системы управления движением и навигация</option>
						<option>Баллистика и гидроаэродинамика</option>
						<option>Авиастроение</option>
						<option>Двигатели летательных аппаратов</option>
						<option disabled>АЭРОНАВИГАЦИЯ И ЭКСПЛУАТАЦИЯ АВИАЦИОННОЙ И РАКЕТНО-КОСМИЧЕСКОЙ ТЕХНИКИ</option>
						<option>Техническая эксплуатация летательных аппаратов и двигателей</option>
						<option>Техническая эксплуатация авиационных электросистем и пилотажно-навигационных комплексов</option>
						<option>Аэронавигация</option>
						<option>Эксплуатация аэропортов и обеспечение полетов воздушных судов</option>
						<option disabled>ТЕХНИКА И ТЕХНОЛОГИИ КОРАБЛЕСТРОЕНИЯ И ВОДНОГО ТРАНСПОРТА</option>
						<option>Управление водным транспортом и гидрографическое обеспечение судоходства</option>
						<option>Кораблестроение, океанотехника и системотехника объектов морской инфраструктуры</option>
						<option>Водные пути, порты и гидротехнические сооружения</option>
						<option disabled>УПРАВЛЕНИЕ В ТЕХНИЧЕСКИХ СИСТЕМАХ</option>
						<option>Стандартизация и метрология</option>
						<option>Управление качеством</option>
						<option>Системный анализ и управление</option>
						<option>Управление в технических системах</option>
						<option>Инноватика</option>
						<option disabled>НАНОТЕХНОЛОГИИ И НАНОМАТЕРИАЛЫ</option>
						<option>Нанотехнологии и микросистемная техника</option>
						<option>Наноинженерия</option>
						<option>Наноматериалы</option>
						<option disabled>ТЕХНОЛОГИИ ЛЕГКОЙ ПРОМЫШЛЕННОСТИ</option>
						<option>Технология изделий легкой промышленности</option>
						<option>Технологии и проектирование текстильных изделий</option>
						<option>Технология полиграфического и упаковочного производства</option>
						<option>Технология художественной обработки материалов</option>
						<option>Конструирование изделий легкой промышленности</option>
						<option disabled>СЕЛЬСКОЕ, ЛЕСНОЕ И РЫБНОЕ ХОЗЯЙСТВО</option>
						<option>Лесное дело</option>
						<option>Технология лесозаготовительных и деревоперерабатывающих производств</option>
						<option>Агрохимия и агропочвоведение</option>
						<option>Агрономия</option>
						<option>Садоводство</option>
						<option>Агроинженерия</option>
						<option>Технология производства и переработки сельскохозяйственной продукции</option>
						<option>Водные биоресурсы и аквакультура</option>
						<option>Промышленное рыболовство</option>
						<option>Ландшафтная архитектура</option>
						<option>Гидромелиорация</option>
						<option>ВЕТЕРИНАРИЯ И ЗООТЕХНИЯ</option>
						<option>Ветеринарно-санитарная экспертиза</option>
						<option>Зоотехния</option>
						<option>ПСИХОЛОГИЧЕСКИЕ НАУКИ</option>
						<option>Психология</option>
						<option>Конфликтология</option>
						<option disabled>ЭКОНОМИКА И УПРАВЛЕНИЕ</option>
						<option>Экономика</option>
						<option>Менеджмент</option>
						<option>Управление персоналом</option>
						<option>Государственное и муниципальное управление</option>
						<option>Бизнес-информатика</option>
						<option>Торговое дело</option>
						<option>Товароведение</option>
						<option>Жилищное хозяйство и коммунальная инфраструктура</option>
						<option disabled>СОЦИОЛОГИЯ И СОЦИАЛЬНАЯ РАБОТА</option>
						<option>Социология</option>
						<option>Социальная работа</option>
						<option>Организация работы с молодежью</option>
						<option disabled>ЮРИСПРУДЕНЦИЯ</option>
						<option>ПОЛИТИЧЕСКИЕ НАУКИ И РЕГИОНОВЕДЕНИЕ</option>
						<option>Зарубежное регионоведение</option>
						<option>Регионоведение России</option>
						<option>Востоковедение и африканистика</option>
						<option>Политология</option>
						<option>Международные отношения</option>
						<option>Публичная политика и социальные науки</option>
						<option disabled>СРЕДСТВА МАССОВОЙ ИНФОРМАЦИИ</option>
						<option>Реклама и связи с общественностью</option>
						<option>Журналистика</option>
						<option>Издательское дело</option>
						<option>Телевидение</option>
						<option>Медиакоммуникации</option>
						<option disabled>СЕРВИС И ТУРИЗМ</option>
						<option>Сервис</option>
						<option>Туризм</option>
						<option>Гостиничное дело</option>
						<option disabled>ОБРАЗОВАНИЕ И ПЕДАГОГИЧЕСКИЕ НАУКИ</option>
						<option>Педагогическое образование</option>
						<option>Психолого-педагогическое образование</option>
						<option>Специальное (дефектологическое) образование</option>
						<option>Профессиональное обучение (по отраслям)</option>
						<option>Педагогическое образование (с двумя профилями подготовки)</option>
						<option disabled>ЯЗЫКОЗНАНИЕ И ЛИТЕРАТУРОВЕДЕНИЕ</option>
						<option>Филология</option>
						<option>Лингвистика</option>
						<option>Фундаментальная и прикладная лингвистика</option>
						<option>Интеллектуальные системы в гуманитарной сфере</option>
						<option disabled>ИСТОРИЯ И АРХЕОЛОГИЯ</option>
						<option>История</option>
						<option>Документоведение и архивоведение</option>
						<option>Антропология и этнология</option>
						<option>Археология</option>
						<option disabled>ФИЛОСОФИЯ, ЭТИКА И РЕЛИГИОВЕДЕНИЕ</option>
						<option>Философия</option>
						<option>Прикладная этика</option>
						<option>Религиоведение</option>
						<option disabled>ТЕОЛОГИЯ</option>
						<option>Теология</option>
						<option disabled>ФИЗИЧЕСКАЯ КУЛЬТУРА И СПОРТ</option>
						<option>Физическая культура</option>
						<option>Физическая культура для лиц с отклонениями в состоянии здоровья (адаптивная физическая культура)</option>
						<option>Рекреация и спортивно-оздоровительный туризм</option>
						<option disabled>ИСКУССТВОЗНАНИЕ</option>
						<option>Искусства и гуманитарные науки</option>
						<option>Изящные искусства</option>
						<option>История искусств</option>
						<option>Теория и история искусств</option>
						<option disabled>КУЛЬТУРОВЕДЕНИЕ И СОЦИОКУЛЬТУРНЫЕ ПРОЕКТЫ</option>
						<option>Культурология</option>
						<option>Народная художественная культура</option>
						<option>Социально-культурная деятельность</option>
						<option>Музеология и охрана объектов культурного и природного наследия</option>
						<option>Режиссура театрализованных представлений и праздников</option>
						<option>Библиотечно-информационная деятельность</option>

					</select>

					<select id="category" class="forminput" required value="$category">
						<option value=""  disabled selected>Специализация</option>
						<option value="research">Исследовательский</option>
						<option value="engineer">Инженерный</option>
						<option value="hum">Гуманитарный</option>
						<option value="business">Предпринимательский</option>

					</select>
				</div>

				<table class="projInfo">
				<tbody class="inq_form">
					<tr>
						<td><label class="col-inquirere-label">Местонахождение
						</label></td>
						<td><textarea class="forminput" id="place"></textarea></td>
					</tr>

					<tr>
						<td><label class="col-inquirere-label">Краткое описание
						</label></td>
						<td><textarea class="forminput" id="shortDescr"></textarea></td>
					</tr>

					<tr>
						<td><label class="col-inquirere-label">Описание
						</label></td>
						<td><textarea class="forminput" id="descr"></textarea></td>
					</tr>

					<tr>
						<td><label class="col-inquirere-label">Продуктовый результат
						</label></td>
						<td><textarea class="forminput" id="product"></textarea></td>
					</tr>

					<tr>
						<td><label class="col-inquirere-label">Сроки реализации
						</label></td>
						<td><input style="width: 48%;" id="birthday" type="text" class="forminput" placeholder="Дата появления" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
						<span style="border: none"> - </span>
						<input style="width: 48%;" id="closeday" type="text" class="forminput" placeholder="Дата завершения" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}"></td>
					</tr>

					<tr>
						<td><label class="col-inquirere-label">Заказчик
						</label></td>
						<td><textarea class="forminput" id="customer"></textarea></td>
					</tr>
					<div>
					<input type="hidden" class="forminput" id="claim_id" value="{{ claim.id }}">
					</div>
					<tr>
						<td><label class="col-inquirere-label">Контактное лицо
						</label></td>
						<td>
							<input id="contact_position" type="text" class="forminput" placeholder="Должность">
							<input id="contact_fio" type="text" class="forminput" placeholder="ФИО">
							<input id="contact_phone" type="text" class="forminput" placeholder="Телефон">
							<input id="contact_email" type="text" class="forminput" placeholder="E-mail">
						</td>
					</tr>


					<tr>
						<td><label class="col-inquirere-label">Приложение
						</label></td>
						<td><input type="file"></td>
					</tr>

					<tr>
						<td><label class="col-inquirere-label">Шапка проекта
						</label></td>
						<td><label id="label_header" for="load_header"><img src="/img/jpg.png"></label><input type="file" class="sr-only" id="load_header"></td>
					</tr>

					<tr>
						<td><label class="col-inquirere-label">Команда</label>
						</td>
						<td><button  style="background-color:#1B4F44; color: white; width: 40%; margin: 0 2%; border-radius: 10px;" type="button" onclick="addRole()" class="btn">Добавить роль</button><div class="clearfix"></div></td>
					</tr>
				</tbody>
				</table>


				<div>	

					<textarea style="display: none;" autocomplete="off" class="forminput" id="teamRolesList"></textarea>



					<div class="form-group row role">
						<input style="font-size: 24px; width: 100%; text-align: center; border-top-right-radius: 10px; border-top-left-radius: 10px;" class="roleNameInput" onchange="updateTeamRolesList()" placeholder="Название роли">

						<div class="col-sm-4 skills_selector">
							<p>Базовые компетенции</p>
							<textarea onchange="updateTeamRolesList()" class="skillsInput baseSkillsInput"></textarea>


							<div class="crd-buttons crd-buttons-single pos__stat" style="margin-top: 20px;">
								<button  style="background-color:  #1B4F44; color: white;" type="button" onclick="addSkill(this)" class="btn size"><i class="fas fa-plus"></i></button>
							</div>
						</div>



						<div class="col-sm-4 skills_selector">
							<p>Профессиональные компетенции</p>
							<textarea onchange="updateTeamRolesList()" class="skillsInput techSkillsInput"></textarea>

							<div class="crd-buttons crd-buttons-single pos__stat" style="margin-top: 20px;">
								<button  style="background-color:  #1B4F44; color: white" type="button" onclick="addSkill(this)" class="btn size"><i class="fas fa-plus"></i></button>
							</div>
						</div>

						<div class="col-sm-4 skills_selector">
							<p style="word-wrap: break-word">Надпрофессиональные<br>компетенции</p>
							<textarea onchange="updateTeamRolesList()" class="skillsInput overProfSkillsInput"></textarea>

							<div class="crd-buttons crd-buttons-single pos__stat" style="margin-top: 20px;">
								<button  style="background-color:  #1B4F44; color: white" type="button" onclick="addSkill(this)" class="btn size"><i class="fas fa-plus"></i></button>
							</div>
						</div>

					</div>
				</div>

				<div class="crd-buttons crd-buttons-single" style="margin-top: 20px; margin-bottom: 20px !important;position: static;">
					<button  style="background-color:  #1B4F44; color: white" onclick="sendNewCard()" type="button" class="btn">Опубликовать</button>
				</div>
			</div>
			
		</div>
	</div>
</div>



{% else %}
    <b>Заявка с таким номером не существует!</b>
{% endif %}
{% endblock %}